@import url("https://fonts.googleapis.com/css2?family=McLaren&family=Rubik&display=swap");

:root {
  --bg-color: rgb(34 34 34);
  --primary-color: #eee;
  --secondary-color: #bbb;
  --primary-font-size: 20px;
  --secondary-font-size: 15px;
  --tertiary-font-size: 14px;
  --quart-font-size: 11px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--bg-color);
  font-family: "Rubik", sans-serif;
}

h2,
h3 {
  color: var(--primary-color);
}

p,
a {
  color: var(--secondary-color);
}

p {
  font-size: var(--tertiary-font-size);
  line-height: 20px;
}

h3 {
  font-size: var(--tertiary-font-size);
}

.main {
  padding: 0 48px;
}

.wrapper {
  margin: 0 auto;
  padding: 70px 0;
  max-width: 30rem;
  min-width: 370px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.col {
  display: grid;
  grid-template-columns: 1fr;
}

section span {
  color: var(--secondary-color);
  font-size: var(--secondary-font-size);
}

section h3 {
  margin-bottom: 30px;
}

#partition {
  margin: 68px 0;
  border-top: 3px dotted #51515163;
}

.underline {
  text-decoration: underline;
}

/* me section  */

.dis {
  margin-bottom: 17px;
}

section.me-section h2 {
  font-size: var(--primary-font-size);
  font-family: "McLaren", cursive;
  margin: 5px 0 10px 0;
}

section.me-section a {
  text-decoration: none;
  font-size: var(--quart-font-size);
  padding: 4px 11px;
  border-radius: 9px;
  background-color: #3d3b3b;
}

.descr {
  flex-grow: 1;
}

/* about section  */

.about-section {
  margin-top: 57px;
}

.about h3 {
  margin-bottom: 10px;
}

/* projects section  */

.projects-section {
  margin-top: 57px;
}

.project2 div.date:after {
  content: "000000 — 000000";
  visibility: hidden;
}

.project3 div.date:after {
  content: "0000000 — 0000000";
  visibility: hidden;
}
.project1 div.date:after {
  content: "0000000 — 000000";
  visibility: hidden;
}

.project4 div.date:after {
  content: "000000 — 0000000";
  visibility: hidden;
}

section.projects-section a {
  text-decoration: none;
  font-size: var(--secondary-font-size);
  color: var(--primary-color);
}

section.projects-section a:hover {
  text-decoration: underline;
}

.up-right-arrow {
  margin-bottom: 3px;
  margin-left: 3px;
}

.project-img-container {
  margin-top: 20px;
  width: 180px;
  height: 100px;
}

.project-img {
  box-shadow: 0 0 14px #a29d9d;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

.project-discription {
  margin-bottom: 10px;
}

/* education section  */

.edu-section {
  margin-top: 70px;
}

section.edu-section a {
  text-decoration: none;
  font-size: var(--secondary-font-size);
  color: var(--primary-color);
}

section.edu-section a:hover {
  text-decoration: underline;
}

.edu-section div.date:after {
  content: "0 — 0";
  visibility: hidden;
}

/* contacts section  */

.contacts-section {
  margin-top: 57px;
}

.contacts-section div.contact:after {
  content: "00 — 00";
  visibility: hidden;
}

.link-email {
  margin-right: 22px;
}

.link-github {
  margin-right: 13px;
}

.contact-flex {
  margin-bottom: 12px;
}

/* temp  */

.profile_pic {
  width: 107px;
  border-radius: 44px;
  margin-right: 23px;
}
