body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather Sans", sans-serif;
}

h1 {
  font-size: 5rem;
  margin: 0px auto;
  font-family: "Sacramento", cursive;
  color: #64ccc5;
}

h2 {
  color: #64ccc5;
  font-size: 2.5rem;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

h3 {
  color: #98eecc;
  font-family: "Montserrat", sans-serif;
}

p {
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #1a5d1a;
}

/* banner  */

.banner {
  padding-top: 100px;
  background-color: #dafffb;
  height: 35rem;
}

.mountain {
  position: absolute;
  left: 8%;
  top: 18%;
}

.pro {
  text-decoration: underline;
}

/* main section  */

.section_divider {
  margin: 66px auto;
  border: none;
  border-top: dotted;
  width: 5%;
  border-top-width: 9px;
  color: #e4dfdf;
}

.underline {
  border: none;
  border-top: solid;
  color: #aae0dd;
  width: 10%;
  border-top-width: 5px;
}

.about {
  margin: 0 auto;
  width: 50%;
  height: 20rem;
  /* background-color: cyan; */
}

.profile_photo {
  height: 55%;
}

.skill_row {
  text-align: left;
  line-height: 2;
  margin: 100px auto;
  width: 50%;
}

.java_img,
.react_img {
  float: left;
  width: 25%;
  margin-right: 30px;
}

.code_img {
  width: 45%;
  float: right;
  margin: 6% 0 0 5%;
}

/* footer  */

footer {
  padding-top: 6%;
  background-color: #c1ece4;
  height: 14rem;
}

li {
  list-style: none;
  line-height: 2;
}

.grid {
  display: grid;
  grid-template-columns: 20rem 10rem 10rem;
  gap: 10px;
  padding: 10px;
  justify-content: center;
}

.legal,
li > p {
  color: #1a5d1a;
}

.grid_left {
  place-self: center;
}
